.form {
  display: flex;
  justify-content: center;

  width: 100%;
}

.input {
  position: relative;
  height: 42px;
  width: 40%;
  left: 18px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 3px 5px 0 rgb(75, 76, 77, 80%);

  outline: none;
  padding: 1rem;
  color: inherit;
}

.searchIcon {
  position: relative;
  left: -28px;
  bottom: 3px;
}
